.product-card{
    margin-top: 2rem;
    @include grid($col:4,$gap:1rem);
    padding: 1rem;
    border-radius: 12px;
    position: relative;
    background: #fff;
    .flag, .prod-id{
        position: absolute;
    }
    .prod-id{
        @include flex();
        border: 1px solid clr(search-border);
        border-radius: 9999px;
        background: #fff;
        width: 2.5rem;
        height: 2.5rem;

        font-size: 1.25rem;
        line-height: 1.75rem;

        left: -15px;
        top: 30px;

    }
    .flag{
        @include flex();
        gap: 0.5rem;
        background: #ff7724;
        padding: 0.4rem 1rem 0.4rem 0.5rem;
        border-radius: 0 8px 8px 0;

        top: -15px;
        left: -5px;

        p{
            font-weight: 400;
            font-size: 1rem;
            line-height: 1.5rem;
            color: #fff;
        }

        
    }
    
    .prod-image{
        grid-column: span 1;
        @include flex($direction:column);
        img{
            width: 60%;
        }
        figcaption{
            text-align: center;
            line-height: 20px;
            font-size: 12px;
            color: clr(grey-6);
        }
    }
    .prod-detail{
        grid-column: span 2;
        padding: 1rem;
        @include flex($direction:column,$justify:flex-start,$align:stretch);
        gap: 0.75rem;

        .prod-desc{
            font-weight: 400;
            font-size: 1rem;
            line-height: 1.5rem;
            color: clr(body-text);

            .prod-title{
                font-weight: 700;
            }
        }

        .highlight-heading{
            font-weight: 700;
            font-size: 1rem;
            line-height: 1.5rem;
            color: clr(grey-8);
        }

        .prod-highthlights{
            margin-left: 1rem;
            .prod-string-highlights{
                font-weight: 400;
                font-size: 1rem;
                line-height: 1.5rem;
                color: clr(body-text);
            }

            .prod-list-highlights{
                @include flex($direction:column,$justify:flex-start,$align:flex-start);
                gap: 0.5rem;
                padding: 0.5rem 0.75rem;
                list-style-type: none;
                background: #FFF4ED;
                border-radius: 12px;

                li{
                    @include flex($justify:flex-start);
                    gap: 0.5rem;

                    p{
                        &:nth-child(1){
                            font-weight: 400;
                            font-size: 1rem;
                            line-height: 1.5rem;
                            border-radius: 4px;
                            padding: 2px 8px;
                            background: #fff;
                            color: clr(blue-1);
                        }

                        &:nth-child(2){
                            font-weight: 400;
                            font-size: 1rem;
                            line-height: 1.5rem;
                            color: clr(body-text);
                        }
                    }
                }


            }
        }

        .prod-advantages{
            h5{
                font-weight: 400;
                font-size: 1rem;
                line-height: 1.5rem;
                color: clr(grey-8);
            }

            .prod-list-advantages{
                @include flex($direction:column,$justify:flex-start,$align:flex-start);
                gap: 0.5rem;
                padding: 0.5rem 0.75rem;
                list-style-type: none;
                border-radius: 12px;

                li{
                    @include flex($justify:flex-start);
                    gap: 0.5rem;
                    img{
                        height: 1.5rem;
                        width: 1.5rem;
                    }

                    p{
                        font-size: 1rem;
                        line-height: 1.5rem;
                        font-weight: 400;
                        color: clr(body-text);
                    }

                }
            }

        }

        .show-more{
            align-self: flex-start;
            border: none;
            @include flex();
            background: #fff;
            p{
                font-weight: 400;
                font-size: 1rem;
                line-height: 1.5rem;
                color: clr(blue-1);
            }

            img{
                height: 1rem;
                width: 1rem;
            }
        }
    }
    .prod-performance{
        grid-column: span 1;
        @include flex($direction:column,$justify:space-between,$align:stretch);
        
        .prod-gonfalon{
            @include flex($direction:column,$justify:flex-start);
            gap: 0.25rem;
            background: #F3F9FF;
            width: 60%;
            align-self: center;
            padding-top: 0.75rem;
            padding-bottom: 1rem;
            border-radius: 0 0 12px 12px;

            .i-div {
                position: relative;
                img{
                    top: -6px;
                    left: 25px;
                    position: absolute;
                    width: 10px;
                    opacity: 0.5;
                }
            }
            .rating{
                font-weight: 400;
                font-size: 2.25rem;
                line-height: 2.75rem;
                color: #074786;
            }
            .remark{
                font-weight: 400;
                font-size: 13px;
                line-height: 20px;
                color: #074786;
            }
        }
    }
}

