$dark-color: #212731;
$light-color: #FBFCFD;
$font-inter: 'Inter', sans-serif;
$doc-width: 64rem;

$colors:(
    "blue-1":#1B88F4,
    "search-border":#E1E4E6,
    "footer-text":#B6BDC4,
    "nav-text":#D1D6DA,
    "body-bg":#FBFCFD,
    "body-text":#4B5665,
    "grey-5":#9FA9B3,
    "grey-6":#5C6874,
    "grey-7":#626E79,
    "grey-8":#2C384A,
);