@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import './resets';
@import './variables';

@mixin flex($justify:center,$align:center,$direction: row) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
  flex-direction: $direction;
}

@mixin grid($col: 2, $gap: 0) {
  display: grid;
  grid-template-columns: repeat($col, 1fr);
  gap: $gap;
}

@function clr($key){
  @return map-get($colors, $key);
}
@function txt-style($key){
  @return map-get($font-styles, $key);
}

.wrapper {
  width: 100%;
  background: $light-color;
  min-height: 100vh;
}

@import './navbar';
@import './body';
@import './footer';





