.discount{
    justify-self: flex-start;
    align-self: flex-start;
    font-family: Inter;
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
    text-align: left;
    color: #074786;
    background: #F2F4F7;
    padding: 0.125rem 0.5rem;
    border-radius: 0.5rem;
}